@import "/src/assets/styles/colors.scss";
.carousel {
  aspect-ratio: 16/9;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
  .carousel-image {
    border-radius: 6px;
    height: 100%;
    left: 100%;
    position: absolute;
    transition: 0.5s ease-in-out;
    width: 100%;
  }
  .image-active {
    inset: 0;
  }
  .chevrons {
    align-items: center;
    display: flex;
    inset: 0;
    justify-content: space-between;
    position: absolute;
    .chevron-left,
    .chevron-right {
      align-items: center;
      background: transparent;
      border: none;
      color: #373b39;
      display: flex;
      .arrow {
        background: #eeeeee;
        border-radius: 100%;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        height: calc(25px + 1vw);
        width: calc(25px + 1vw);
      }
    }
  }
}
