@import "/src/assets/styles/colors.scss";
.home {
  margin: 0 auto;
  max-width: 1024px;
  padding: 50px 8px 0 8px;
  .section {
    scroll-margin-top: 68px;
  }
  .welcome {
    display: grid;
    text-align: center;
    .introduce-welcome {
    }
    .computer {
      width: 100%;
    }
  }
}

@media (min-width: 768px) {
  .home {
    .welcome {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
