@import "/src/assets/styles/colors.scss";
.header {
  position: fixed;
  width: 100%;
  z-index: 2;
  .nav-header {
    align-items: center;
    background: #101211;
    display: flex;
    height: 50px;
    position: relative;
    z-index: 2;
    .home-return {
      color: #eceeed;
      font-size: 2em;
      margin-left: 8px;
      text-decoration: none;
    }
    .btn-nav-header {
      background: transparent;
      border: none;
      height: 40px;
      margin-left: auto;
      margin-right: 8px;
      padding: 0;
      position: relative;
      width: 40px;
      .central-bar {
        background: #fcfcfc;
        height: 3px;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        transition: 0.2s;
        width: 28px;
        &::before,
        &::after {
          background: #46a758;
          content: "";
          height: 3px;
          left: 0;
          position: absolute;
          transform: translateY(-8px);
          transition: 0.2s;
          width: 28px;
        }
        &::after {
          transform: translateY(8px);
        }
      }
    }
    .btn-nav-header-active {
      .central-bar {
        background: transparent;
        &::before {
          transform: translateY(0) rotate(45deg);
        }
        &::after {
          transform: translateY(0) rotate(-45deg);
        }
      }
    }
    .nav-menu-header-desktop {
      gap: 8px;
      margin-left: auto;
      margin-right: 8px;
      a {
        color: #eceeed;
        font-size: 2em;
        position: relative;
        text-decoration: none;
        &::after {
          background: #46a758;
          bottom: -2px;
          content: "";
          height: 2px;
          left: 0;
          position: absolute;
          transition: 0.2s;
          width: 0;
        }
        &:nth-child(1)::after {
          width: 20%;
        }
        &:hover::after {
          width: 100%;
        }
      }
    }
  }
  .nav-menu-header {
    background: #46a758;
    border-bottom-left-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
    position: absolute;
    right: 0;
    top: -100%;
    transition: 0.2s;
    z-index: 1;
    a {
      color: #eceeed;
      font-size: 2em;
      text-decoration: none;
    }
  }
  .nav-menu-header-active {
    top: 100%;
  }
  .nav-menu-header-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .header {
    .nav-header {
      .btn-nav-header {
        display: none;
      }
      .nav-menu-header-desktop {
        display: flex;
      }
    }
    .nav-menu-header {
      display: none;
    }
  }
}
