@import "/src/assets/styles/colors.scss";
.header {
  .navigation-desktop {
    display: none;
  }
  .contaimer-navigation-mobile {
    .menu {
      height: 44px;
      position: relative;
      transition: transform 0.5s;
      width: 44px;
      .bar {
        background: black;
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        top: 50%;
        transform: translateX(-50%) translateY(-50%);
        width: 22px;
        &::before,
        &::after {
          background: lightseagreen;
          content: "";
          display: block;
          height: 2px;
          left: 0;
          position: absolute;
          top: 0;
          transform: translateY(-6px);
          transition: transform 0.5s;
          width: 22px;
        }
        &::after {
          transform: translateY(6px);
        }
      }
      &:hover {
        transform: rotate(180deg);
        .bar {
          background: transparent;
          &::before {
            transform: translateY(0) rotate(45deg);
          }
          &::after {
            transform: translateY(0) rotate(-45deg);
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  .header {
    .navigation-desktop {
      display: none;
    }
    .contaimer-navigation-mobile {
      display: none;
    }
  }
}

@media (min-width: 768px) {
  .header {
    .navigation-desktop {
      display: block;
    }
    .contaimer-navigation-mobile {
      display: none;
    }
  }
}
