@import "../../styles/colors.scss";
.header {
  // background: center / cover url(/public/images/tww3-bretonnia.jpg);
  height: 50svh;
  padding: 0 16px;
  .top-bar {
    display: flex;
    justify-content: space-between;
    .back-home {
      align-items: center;
      background: $solid-background;
      border-radius: 0 0 5px 5px;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      display: flex;
      padding: 0 8px;
      a {
        color: white;
        text-decoration: none;
      }
    }
    .navigation {
      display: inline-block;
      .menu {
        border: none;
        border-radius: 0 0 5px 5px;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        padding: 12px;
        .bar-container {
          padding: 10px;
          position: relative;
          .bar {
            background: black;
            display: inline-block;
            height: 2px;
            left: 0;
            position: absolute;
            width: 100%;
          }
          .bar-one {
            top: 0;
          }
          .bar-two {
            left: -50%;
            transform: translate(50%, -50%);
          }
          .bar-three {
            bottom: 0;
          }
        }
      }
    }
  }
  .menu-info {
    background: $app-background;
    left: 0;
    position: absolute;
    right: 0;
    top: -100%;
    transition: 0.3s ease-in-out;
  }
  .menu-info-active {
    top: 0;
  }
}
