.link {
  background: #373b39;
  border-radius: 2px;
  padding: 8px;
  text-decoration: none;
  transition: 0.2s;
  &:hover {
    background: #46a758;
  }
  p {
    color: #eeeeee;
    margin: 0;
  }
}
