.footer {
  align-items: center;
  display: flex;
  height: 50px;
  justify-content: center;
  p {
    font-size: clamp(0.5rem, 0.3929rem + 0.5357vw, 0.875rem);
  }
}
@media (min-width: 1024px) {
  .footer {
    height: 100px;
  }
}
