@import "/src/assets/styles/colors.scss";
:root {
  background: #101211;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1;
  margin: 0 auto;
  max-width: 1024px;
  min-height: 100%;
  scroll-behavior: smooth;
}
