$app-background: #fbfdff;
$subtle-background: #f4faff;
$ui-element-background: #e6f4fe;
$hovered-ui-element-background: #d5efff;
$selected-ui-element-background: #c2e5ff;
$subtle-borders-and-separators: #acd8fc;
$ui-element-border-and-focus-rings: #8ec8f6;
$hovered-ui-element-border: #5eb1ef;
$solid-background: #0090ff;
$hovered-solid-background: #0588f0;
$low-contrast-text: #646464;
$high-contrast-text: #202020;
$low-contrast-text-white: #b4b4b4;
$high-contrast-text-white: #eeeeee;
$low-contrast-text-color: #0d74ce;
$high-contrast-text-color: #113264;

//----------------------------------

$hovered-solid-background-filter: invert(40%) sepia(52%) saturate(4048%)
  hue-rotate(188deg) brightness(97%) contrast(96%);
$high-contrast-text-white-filter: invert(100%) sepia(3%) saturate(216%)
  hue-rotate(355deg) brightness(114%) contrast(87%);
